.container{
    
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
   
    

}
.card{
    width: 30rem;
    margin: 2rem;
    
    
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:cover;
}


.img-distance{
    width:30px;
    height:30px;
}