<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coding Tutor</title>
</head>
<body>
    {% for student in students %}
        <p>Name: {{ student.name }}</p>
        <p>Email: {{ student.email }}</p>
        <p>Password: {{ student.password }}</p>
        <p>Zipcode: {{ student.zipcode }}</p>
    {% endfor %}
    <li><a href="{% url 'create' %}"> Add a Student</a></li>
</body>
</html>