* {
  box-sizing: border-box;
}

.btn{
    text-decoration-style: none;
}

.imgPf {
  width: 100%;
  height: 25vw;
  object-fit:cover;
  object-position: 50% 20%;
  max-width: 500px;
}

.panel-body {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 700px) {
  .imgPf {
    width: 100%;
    height: 40vw;
    max-width: 500px;
    object-fit:cover;
    object-position: 50% 20%;
  }
}