.pagination {
    display: inline-block;
    height:20px;
  }
  
.pagination-button {
  border: 0px;
  margin: auto;
  background-color: white;
  height: 20px;
}

#chosen {
  font-weight: bolder;
  font-size: 25px;
}

.arrows {
  font-weight: bolder;
  font-size: 30px;
}