.header {
    grid-area: header;
    justify-content: center;
    width: 100%;
}

.details {
    grid-area: details;
}
.reviews {
    width:100%;
}

.calendar {
    grid-area: calendar;
    justify-content: center;
    align-items: center;
}

.holder {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 3% 97%;
    grid-template-areas:
        "header header header header"
        "details details calendar calendar"
}

.showButton {
    display: none;
}

@media only screen and (max-width: 700px) {
    .calendar {
        display: none !important;
    }
    .showButton {
        display: inline;
    }
    .holder {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 3% 97%;
        grid-template-areas:
            "header"
            "details"
    }
  }